@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
.head-bar {
    background-color: #eee;
}


.head-bar .container {
    display: flex;
    justify-content: space-between;
}
.head-bar picture img {
    width: 45px;
    height: 45px;
}
.head-bar h4 {
    margin: 0;
}

.jumbotron {
  margin-top: 15px;
  color: white;
  height: 500px;
  display: flex;
  align-items: center;
  background: url(../../img/img_jumbotron/jumbotron.jpg) no-repeat;
  background-size: 1116px 500px;
}

.search-bar {
  margin-top: 15px;
  padding: 8px;
  height: 11vh;
  display: flex;
  align-items: center;
  background-color: #ccc;
}

.search-bar .form-control {
  flex-grow: 1; /* Permite que el input crezca automáticamente */
  flex-basis: 0; /* Reinicia el ancho base */
  margin-right: 10px;
}

.search-bar .form-select {
  flex-grow: 1; /* Permite que el select crezca automáticamente */
  flex-basis: 0; /* Reinicia el ancho base */
  margin-right: 10px;
}



.footer-bar {
  background-color: #eee;
  padding: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}



@media (min-width: 768px) {
  .footer-bar {
    position: static;
  }
}

.footer-bar .container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.list-group {
  width: 300px;
  height: 150px;
}
