.carousel{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.item-box{
    background-color: #EB5E28;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-box:hover{
    box-shadow: 0px 0px 20px #CCC5B9;
    cursor: pointer;
}
.item-box:hover #logito{
    filter: blur(4px);
}

#cr {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-box picture img {
    width: 200px;
    height: 200px;
}

h3{
    color: #252422;
}
.item-box:hover h3{
    color: #FFFCF2;
}

