.list {
    background-color: #EDF2F4;
    height: 270px;
    display: flex;
}

.top_img {
    margin: 10px 10px;
    width: 150px;
    height: 150px;
}

.top_place_img {
    margin: 10px 10px;
}

.icon {
    width: 80px;
    height: 80px;
}